.card {
    .card-open {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    .card-close {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}